html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{ color:inherit;}

iframe{
    overflow:hidden;
}

.rows
{
    display: table;
    width:100%;
}
.columns
{
   display: table-cell;
   vertical-align: middle;
}

/*@media only screen and (max-device-width : 480px) {
	#foot_l{
		visibility: visible;
		display: block;
	}
	#foot_s{
		visibility: collapse;
		display: none;
	}
}

@media only screen and (min-device-width : 640px) {
	#foot_l{
		visibility: visible;
		display: none;
	}
	#foot_s{
		visibility: visible;
		display: block;
	}
}*/

@media screen and (min-width: 0px) and (max-width : 475px) {
	#foot_l{
		display: none;
	}
	#foot_s{
		display: block;
		width:50%; 
		margin: 0 auto;
	}
}

@media screen and (min-width: 475px) and (max-width : 786px) {
	#foot_l{
		display: none;
	}
	#foot_s{
		display: block;
		width:30%; 
		margin: 0 auto;
	}
}

@media screen and (min-width : 786px) {
	#foot_l{
		display: block;
	}
	#foot_s{
		display: none;
	}
	#love{
		margin-left:26%;
	}
}